# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
runs/client
runs/client/options.txt
__pycache__
logs
src/generated/resources/.cache
libs
